*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
  }
  
 html{
   scroll-behavior: smooth;
 }
:active,
:hover,
:focus{
  outline: 0 !important;
  outline-offset: 0;
}
a:hover{
  color: #f5ce93!important;
}

a{
    
  text-decoration: none !important;
}


  /*----------------------------------
                header design
    ----------------------------------*/
  .nav-link{
 
    font-weight: bold;
    color: #FBEAD1 !important;
    
  
  }

  #navbarSupportedContent{
    
    position: absolute;
    z-index: 1; 
   
    width: 400px;
    top: 40px;
  
  }
  

 #header{

   background-image: url(/img/7.svg);
   background-repeat: no-repeat;
   background-size:100%;
   height: 850px;
 
   padding:0 !important;
   margin:0;
 
 }




 .middle{
 
  z-index: -1;
   position: relative;
  display: flex;
top: 400px;
  width: 100%;
  height: 400px;
  text-align: center;
  justify-content: center;


}

 .middle p{
  
  position: relative;
  
   display: block;

 
left:300px;

width: 500px;
height: 350px;
  color: #34786B;
  font-size:36px;
  transition: transform .2s;

 }

.middle a {

  cursor: pointer;
}
 
.middle a:hover,
.middle a:focus{
  background-color: #34786B;
}
 


 @media (max-width: 1222px) {
  .middle{
    position: relative;
    width: 100%;
    height: 200px;
position: relative;




  
  }
  .middle p{
    position:absolute;
    left: 500px;
    
  width: 400px;
  height: 200px;
    color: #34786B;
    font-size:30px;
  

 }}

 @media (max-width: 991px) {
  #navbarSupportedContent{
    
   background-color: #34786B;
   opacity: 0.9;
   transform: scale(1.0);
  }
  
  .middle{
    position: relative;
    width: 100%;
    height: 200px;
position: relative;

margin-top: -190px;

 

  
  }
  .middle p{
    position:absolute;
    left: 400px;

  width: 300px;
  height: 200px;
    color: #34786B;
    font-size:25px;
  

 }}

 @media (max-width: 700px) {
  .middle{
    position: relative;
    width: 100%;
    height: 200px;
position: relative;

margin-top: -250px;
 

  
  }
  .middle p{
    position: absolute;
    left: 300px;
   
  width: 200px;
  height: 200px;
    color: #34786B;
    font-size:25px;
  

 }
 p img{
 
  width:70px ;
 }
}

@media (max-width: 500px) {
  .middle{

    width: 100%;
    height: 200px;
position: relative;
margin-top: -300px;




  
  }
  .middle p{
    position: absolute;
  left:200px;
   
  width:200px;
  height: 150px;
    color: #34786B;
    font-size:18px;
  

 }
 p img{

  width:70px ;
 }
}



@media (max-width: 400px) {
  .middle{

    width: 100%;
    height: 200px;
position: relative;
margin-top: -300px;
  
  }
  .middle p{
    position: absolute;
  left:140px;

  width: 150px;
  height: 150px;
    color: #34786B;
    font-size:15px;
  

 }
 p img{

  width:50px ;
 }
}

  /*------ sidebar -----*/

#sidebar{
 
  background-image: url(/img/3.svg);
  position: relative;
  top: 500px;
  background-repeat: no-repeat;
  background-size:cover;
  height:300px;

  padding:0 !important;
  margin:0;



}


#sidelayout{
  width: 100%;
  flex-wrap: wrap;

  position: absolute;
  top: 50px;
  bottom: 55px;
  padding: 100px;
align-content: center;
text-align: center;
}
#sidelayout .col{
 display: flex;
  color: #34786B;
  
  text-align: center;
}
#sidelayout p{
  
justify-content: center;
width: 100%;
overflow: hidden;
width: 180px;
margin-top: 10px;
  text-align: center;

  
}
    

@media (max-width: 590px){
  #sidelayout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  #sidelayout .col{

padding: 10px;
display: flex;
margin: auto;
justify-content: center;
 }
 #sidelayout p{

  overflow: hidden;
    margin-left: auto;
    text-align: center;
  width:100px ;
  font-size: 10px;
  width: 100%;
justify-content: center;

    
  }
  #sidelayout .col img{

  width: 50px;
  }
}


/*----------------------------------
          section-1 about
  --------------------------------*/
.about{

  margin-top: 500px;
}
.about-text { 

margin-top: 150px;
 
}
.about-img{
  
  text-align: center;
}
.about-text h1{
  color: #34786B;
}
.about-text p{
  color: #707070;
  font-size: 1.5rem;
}
/*
.about .col img{
  border: 2px solid red;

}
*/

@media (max-width: 1200px){
  .about{
   
    margin-top: 200px;
  }
}

@media (max-width: 990px){
  .about .col img{
    width: 300px;
  
  }
  .about-text{
    margin-top: 0;
  }
}




/*----------------------------------
       section-2 how its works
  --------------------------------*/

.works-card{
  display: flex;
  position: relative;
 
  background-image: url(/img/4.svg);
   background-repeat: no-repeat;
   background-size:100%;
   height: 500px;
 
   padding:0 !important;
   margin:0;
   justify-content: center;
   align-self:center;

}
.works-card .l-title{
 
  position: absolute;
  left: 200px;
  top: 60px;
  color: #EFA942;
}



.card{
  border: 5px solid #FCEAD1;
  border-radius: 12px;
  
}
.card-title{
color: #EFA942;
}

.works-card .container{
  

justify-content: center;
align-self:center;

}
.card-text{
  color: #707070;
height: 70px;
}

.card-img{
  cursor: pointer;
  width: 200px;
  height: 150px;
}

.title-hr {
  width: 100%;
  vertical-align: middle;
  align-items: center;
  text-align: start;
  display: flex;
}

.title-hr>span {
  color: #34786B;
  padding: 0 0.7em;
}
  
.title-hr>.hr {
  border-bottom: 2px solid #34786B;
  line-height: 0.1em;
  margin: 0.34em 0 0.35em;
  flex: 1 1 auto;
}

.title-hr>.hr.fix {
  flex: 0 1 auto;
}



@media (max-width: 990px){

  .works-card{
    display: flex;
    position: relative;
  
    background-image: none;

     background-repeat: no-repeat;
     background-size:100%;
     height:1200px;
  
     padding:0 !important;
     margin:0;
     justify-content: center;
     align-self:center;
  
  }

  .works-card .l-title{
   
    position: absolute;
    left: 100px;
   top: 160px;
    color: #EFA942;
  }
  .works-card .container{
    margin-top: 120px;
  }
}




/*----------------------------------
       section-3  features
  --------------------------------*/
  .main-features{
  
height: 640px;
}
.main-features .container{
  height: 700px;


}
.tab-pane{
  width: 400px;
  position: relative;


  

 

}
.nav-border{
  position: relative;
  
  width: 100%;
  height: 547px;
  border: 3px solid #B2CCC7;
  overflow: hidden;
  border-radius: 12px;
}
#v-pills-tab{

width: 300px ;
height: 600px;
background-color: #34786B;
 
  
}

#v-pills-tab button{
background-color: #34786B;
  width: 100%;
  height: 60px;
  border: 2px solid #B2CCC7;
  padding-left: 5px;
  
 
}


#v-pills-tab button:hover{
  background-color:#B2CCC7 ;
}

.tab-pane img{

  width: 100%;
  height: 500px;
 

}



@media (max-width:1000px){

  
 
  #v-pills-tab{
width: 50%;
 display:block;
   
 font-size: 10px;
  }

  .tab-pane{
    width: 30%;
    position: relative;
 height: 500px;
  }

  .tab-pane img{
    position: absolute;
   
width: 300px;
  }

 


}

@media (max-width:400px){
  #v-pills-tab{
    width: 20%;
  }
  .tab-pane{
    width: 200px;
  }
  .tab-pane img{

    width: 170px;
    height: 300px;
  
      }
    
}






  /*----------------------------------
       section-4 testimonials
  --------------------------------*/

  .testimonials {
  
    background-image: url(/img/20.svg);
   background-repeat: repeat;
   background-size:100%;
   height:400px;
 width: 100%;
   padding:0 !important;
   margin:0;
  
  

}

.section-header{

  position: relative;
  top: 10px;

  text-align: center;
  font-weight: bold;
  color: #34786B;
  margin-bottom: 30px ;

}


.testimonial-view{

  
  max-width: 900px;
  padding:0 15px 50px;
  margin: 0 auto 70px auto;
  border-radius: 3px;
  

}



.carousel-block{
 
  height: 250px;
  background: #FBEAD1;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgb(0, 0, 0,0.13);
  -webkit-box-shadow: 0 5px 30px -5px rgb(0, 0, 0,0.13);
 
 }


.user{
  display: flex;

  padding: 14px;
}
.user .image{

  position: relative;
  right: 10px ;
}

.carousel-indicators {
 position: absolute;
 width: 30%;
  background: #FBEAD1;
left: 20%;

bottom: 60px;
 
 
}

.info h2{
  color: #34786B;
}
.info h6{
  color: #707070;
}


@media ( max-width: 400px){
  .testimonials{
    overflow: hidden;
  }

  .carousel-block{
   
  display:block;
  
    height:350px ;
    max-width: 400px;
    align-items: center;
  }
  .user .image{

    position: relative;
    left: 35px;
    bottom: 50px;
    

  }

.info{
  position: absolute;
  display: inline-block;
 left: 30px;

  font-size: 10px;
width: 200px;
 
 
 bottom: 50px;
 
 
}
.info h2{
  color: #34786B;
margin-left: 50px;

}
.carousel-indicators {

  position: absolute;
  
 
 left: 20%;
  
  
 }
 

}
  



  








   /*----------------------------------
      section-5  footer
  --------------------------------*/

  .footer-hr {
 
    width: 100%;
    vertical-align: middle;
    align-items: center;
    text-align: start;
    display: flex;
  }
  
  .footer-hr>span {
    color: #EFA942;
    padding: 0 0.7em;
  }
    
  .footer-hr>.hr {
    border-bottom: 2px solid #EFA942;
    line-height: 0.1em;
   margin-top: 5px;
    flex: 1 1 auto;
  }
  
  .footer-hr>.hr.fix {
    flex: 0 1 auto;
  }


  .footer-bg {
    background-color: #34786B;
  }

  .footer-bg h6{
    color:#FBEAD1 ;
  }

  .footer-form button{
    color: #34786B;
    background: #FBEAD1;
    cursor: pointer;
  }

  small{
    color: #FBEAD1;
  }